.container {
    background-color: rgb(231, 236, 242);
}

.friend-list {
    width: 450px;
    align-items: center;
    padding: 30px;
    display: inline-block;
}

.item {
    background-color: white;
    border: 1px solid rgb(193, 182, 182);
    border-radius: 8px;
    display: flex;
    height: 120px;
    align-items: center;
    margin-top: 15px;
     box-shadow: 8px 8px 10px -5px rgb(92, 87, 87);
}

.status {
    margin-left: 25px;
    margin-right: 25px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}

.avatar {
    width: 100px;
}

.name {
    margin-left: 20px;
    font-size: 35px;
    font-weight: 500;
}