.container {
    background-color: rgb(231, 236, 242);
    display: grid;
    place-items: center;
    height: 1200px;
}

.transaction-history {
    background-color: white;
    width: 700px;
    height: 400px;
    margin-top: 50px;
}

.header {
    background-color: rgb(0, 188, 215);
    height: 50px;
    color: white;
}

.elementPar {
    background-color: white;
    height: 50px;
    color: rgb(142, 147, 154);
}

.elementImpar {
    background-color: rgb(236, 241, 243);
    height: 50px;
    color: rgb(142, 147, 154);
}